.margin-left-right {
  margin: 0px 2%;
}

.margin-right {
  margin-right: 2%;
}

.card-item-center {
  align-items: center;
}

.margin-top-bottom {
  margin: 2% 0px;
}

.card {
  border-radius: 10px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.box-shadow-heading {
  border-radius: 10px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.box-shadow-effect {
  border-radius: 10px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 15px;
  margin-bottom: 20px;
}

.btn-days {
  display: flex;
  width: 70%;
  justify-content: center;
  margin: 0 auto;
}
.btn-day {
  border: none;
  background-color: white;
  padding: 0.5rem;
  border-radius: 10px;
}

.active {
  background-color: lightgray;
}
.statsBox {
  display: "flex";
  margin: "20px 0";
}
.stats {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-bottom: 1px solid lightgray;
}

@media screen and (max-width: 600px) {
  .statsBox {
    flex-direction: column;
  }
  .btn-days {
    width: 100%;
  }
}

.table-curved {
  background-color: white;
}

.table-curved th {
  padding: 10px;
  border-top: 10px solid #f0f4f5;
  background-color: blue;
  color: white;
}

.table-curved td {
  padding: 10px;
  border-bottom: 10px solid #f0f4f5;
  border-top: 10px solid #f0f4f5;
}
