.margin-left-right {
  margin: 0px 2%;
}

.margin-right {
  margin-right: 2%;
}

.card-item-center {
  align-items: center;
}

.margin-top-bottom {
  margin: 2% 0px;
}

.inputTag {
  width: 350px;
  height: 35px;
  border-radius: 10px;
  border: gray;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.card {
  border-radius: 10px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.box-shadow-heading {
  border-radius: 10px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.box-shadow-effect {
  border-radius: 10px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
